################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.exe
*.cache
*.txt
*.manifest
*.config
*.dll
*.suo
/smg/bin
/smg/smg/obj/Debug
/smg/smg.Common/obj/Debug
/smg/smg.UnitTests/obj/Debug
